.action-btn {
  border: 1px solid #f2a518;
  padding: 4px 18px;
  margin: 2px;
  border-radius: 3px;
  cursor: pointer;
}
.action-btn:disabled {
  background-color: lightgrey;
}
.action-btn:hover:not(:disabled) {
  background-color: #f6f6f6;
}
input.error-html::selection {
  background: red;
}
input.error-html, input:invalid {
  border: 1px solid red;
}